In [ ]:
import pandas as pd
import numpy as np

Загружаем данные в виде датафрейма

In [ ]:
xls = pd.ExcelFile('lec13_xlsx_hm.xlsx')
df = pd.read_excel(xls, 'data')

In [ ]:
df

            Name_013          Name_002  ...          Name_015          Name_016
0       max velocity      max velocity  ...      max velocity         em damage
1                400             3750   ...              750              1900
2               mass              mass  ...              mass  explosive damage
3            1200 kg           1000 kg  ...           1500 kg                0
4   inertia modifier  inertia modifier  ...  inertia modifier    kinetic damage
5                100              1899  ...             1000                 0
6   explosive damage         em damage  ...         em damage    thermal damage
7               1829                0   ...                0                 0
8          em damage  explosive damage  ...  explosive damage      max velocity
9                 0               120   ...                0               750
10    kinetic damage    kinetic damage  ...    kinetic damage              mass
11               122                0   ...             1800            1200 kg
12    thermal damage    thermal damage  ...    thermal damage  inertia modifier
13                0                 0   ...                0                750

[14 rows x 16 columns]

Создадим новый датафрейм и добавим колонку с именами

In [ ]:
df2 = pd.DataFrame()
names = df.columns
df2['Names'] = names
df2

       Names
0   Name_013
1   Name_002
2   Name_003
3   Name_004
4   Name_005
5   Name_006
6   Name_007
7   Name_008
8   Name_009
9   Name_010
10  Name_011
11  Name_012
12  Name_001
13  Name_014
14  Name_015
15  Name_016

Установим колонку как индексы строк и добавим колонку с изначальной локацией в первой таблице

In [ ]:
df2.set_index('Names', inplace=True)

In [ ]:
columns = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
df2['Колонка'] = columns[:len(df.columns)]
df2

         Колонка
Names
Name_013       A
Name_002       B
Name_003       C
Name_004       D
Name_005       E
Name_006       F
Name_007       G
Name_008       H
Name_009       I
Name_010       J
Name_011       K
Name_012       L
Name_001       M
Name_014       N
Name_015       O
Name_016       P

Для удобства транспонируем данные

In [ ]:
df = df.transpose()
df

                        0        1   ...                12       13
Name_013      max velocity      400  ...    thermal damage       0
Name_002      max velocity    3750   ...    thermal damage       0
Name_003      max velocity      400  ...    thermal damage       0
Name_004         em damage       0   ...    thermal damage      40
Name_005  inertia modifier   100000  ...    thermal damage     450
Name_006      max velocity    3050   ...    thermal damage       0
Name_007              mass  1000 kg  ...    thermal damage       0
Name_008      max velocity    5000   ...    thermal damage       0
Name_009    thermal damage     300   ...              mass  1150 kg
Name_010      max velocity    3750   ...    thermal damage       0
Name_011      max velocity    4000   ...    thermal damage       0
Name_012      max velocity    3750   ...    thermal damage       0
Name_001      max velocity    4000   ...    thermal damage       0
Name_014      max velocity     750   ...    thermal damage    1800
Name_015      max velocity     750   ...    thermal damage       0
Name_016         em damage    1900   ...  inertia modifier      750

[16 rows x 14 columns]

In [ ]:
copy_df2 = df2.copy()

In [ ]:
df2 = copy_df2.copy()

С помощью двойного цикла обходим изначальные данные и заполняем новый датафрейм

In [ ]:
for i in range(1, len(df.columns), 2):
    for j in range(df.shape[0]):
        if df[i - 1][j] not in df2.columns:
            df2[df[i - 1][j]] = ""
        df2[df[i - 1][j]][j] = df[i][j]

In [ ]:
df2

         Колонка max velocity  ... explosive damage kinetic damage
Names                          ...
Name_013       A          400  ...             1829            122
Name_002       B        3750   ...             120              0
Name_003       C          400  ...              40              0
Name_004       D         1102  ...               0              0
Name_005       E        3750   ...               0              0
Name_006       F        3050   ...               0            1200
Name_007       G        3050   ...               0            120
Name_008       H        5000   ...             225              0
Name_009       I        3250   ...               0              0
Name_010       J        3750   ...               0              0
Name_011       K        4000   ...               0             40
Name_012       L        3750   ...               0              0
Name_001       M        4000   ...               0            225
Name_014       N         750   ...               0              0
Name_015       O         750   ...               0           1800
Name_016       P         750   ...               0              0

[16 rows x 8 columns]

Выгружаем в отдельный файл полученную таблицу

In [ ]:
df2.to_excel('finished_python_sort.xlsx')